

*{
  box-sizing: border-box;
}
/* sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 190px; /* Updated width */
  background-color: #343a40;
  color: #fff;
  transition: all 0.3s;
  z-index: 999;
}

.sidebar:hover {
  width: 200px;
}

.sidebar .nav-link {
  padding: 10px 20px;
  font-size: 0.8rem;
  color: #fff;
  transition: all 0.3s;
}

.nav-item > a > i {
  color: #9ec5fe;
}

.sidebar .nav-link:hover, .nav-item > a > i:hover {
  background-color: hotpink;
  color: black;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*main*/
.content {
  margin-left: 190px; /* Updated margin-left */
  overflow: hidden;
}
#slider {

  height: calc(100vh - 50px);
  width: 100%;
  overflow-x: hidden;

}

#slides-wrapper {
  position: relative;
  width: 400%;            /*  Relative to slider's width */
  height: 100%;
  animation-name: slide-anim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes slide-anim {
  from, to {
    left: 0;
  }

  20%, 25%{
    left: -100%;
  }

  45%, 50%{
    left: -200%;
  }

  70%, 75%{
    left: -300%;
  }
}

#slider .slide {
  float: left;
  width: 25%;  /* Relative to slides-wrapper's width */
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#slides-wrapper>div>img{
  width: 100%;
  height: 100%;
}



/* footer styling */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 10px 0; /* Updated padding */
  font-size: 0.8rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Updated height */
  z-index: 999;
}

.footer a {
  color: #fff;

}

@media (max-width: 600px) {
  #slides-wrapper>div>img{
    width: 100%;
    height: 40%;
  }
}

.errorcode{

  display: flex;
  color: red;
  flex-direction: row;
  justify-content: center;
  margin: auto;


}
